.DS_Store

*.lastbuildstate
*.tlog
*.dll
*.exp
*.exe
*.lib
*.vcxproj
*.sln
*.db
*.ipch
*.filters
*.user
*.log
*.res
*.obj
*.pdb
example/.vs/example/v15/.suo
example-box/.vs/example-box/v15/.suo
*.iobj
*.ipdb
*.db-shm
*.db-wal
